body {
    margin: 0;
}

#container {
    display: flex;
    width: 100lvw;
    height: 100lvh;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

#translation-form {
    display: flex;
    width: 60vw;
    flex-direction: column;
    max-width: 80%;
    max-height: 80%;
    background-color: white;
    padding: 1rem;
    border: 3px solid #666;
}

textarea,
input,
button {
    font-size: 1rem;
    border: 1px solid #ff5c00;
    padding: 1rem;
    margin: 1rem;
}

#progress-bar {
    transition: width 3s ease, opacity 1s;
    position: absolute;
    top: 0;
    left: 0;
    --progress-bar-percentage: 50%;
    opacity: calc(100% - var(--progress-bar-percentage));
    background-color: #ddd;
    width: var(--progress-bar-percentage);
    height: 1rem;
    overflow: hidden;
    margin: 0;
}

textarea {
    resize: none;
}

button {    
    background-color: #ff5c00;
    color: white;
    cursor: pointer;
}

textarea:disabled {
    cursor: wait;
}

button:disabled {  
    background-color: white;
    cursor: wait;
    color: #ff5c00;
    border: 1px dashed #ff5c00;
}